<div class="main-container">
    <div class="signup-conect">
        <h1 class="head text-white text-center">Les's Learn English</h1>
        <div class="btn-container">
            <%= link_to "Sign Up", new_user_path, class: "btn-box"%>
        </div>
    </div>
</div>