<div class="main-container">
    <div class="signup-conect">
        <h1 class="head text-white text-center">Les's Learn English</h1>
        <div class="btn-container">
            <a href="#" class="btn-box">Sign Up</a>
        </div>
    </div>
</div>