// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-word{
  font-size: 15px;
}
.slash{
  display: inline;
}
.new-category-btn{
  width: 260px;
  font-size: 20px;
}