// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-top{
  margin-top: 60px;
}

.top-btn{
  width: 170px;
  font-size: 30px;
}

.admin-btn{
  width: 40%;
}

.top-text{
  font-size: 25px;
}