// Place all the styles related to the staticpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//background-image
body{
  margin:0;
}
.main-container {
  background-image: url("shadow.jpg");
  height: 100vh;
  background-size: cover;
}
//message
.signup-conect{
  padding-top: 200px;
}
.head{
  font-size: 60px;
  letter-spacing: 0.3em;
}
//nav-link
.nav-link:hover{
  opacity: 0.6;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0;
}