// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personal{
  border-right: 1px solid rgb(80, 79, 79);
}
.user-name{
  margin-top: 30px;
  font-size: 30px;
}
.index-gravatar{
  height: 80px;
  width: 80px;
  border-radius: 70px;
}
.show-gravatar{
  height: 120px;
  width: 120px;
  border-radius: 70px;
}
.following{
  display: inline-block;
}
.followed{
  display: inline-block;
}
.follow-text{
  font-size: 25px;
}
.following-button{
  width: 40%;
}
.admin-btn{
  width: 40%;
}
.admin-manag{
  width: 80px;
}
