<div class="container admin-top">
    <div class="row">
        <%= link_to "Categories", admin_categories_path, class: "btn btn-dark mx-auto top-btn"%>
    </div>
    <div class="row">
        <p class="mx-auto top-text mt-3">You can change the categories, desc-riptions, words, answers and choices.</p>
    </div>
    <div class="user">
    <div class="row admin-top">
        <%= link_to "Users", admin_users_path, class: "btn btn-dark mx-auto top-btn"%>
    </div>
    <div class="row">
        <p class="mx-auto top-text mt-3">You can add or remove the administ-ration to users.</p>
    </div>
</div>